.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#searchInput {
    margin-bottom: 10px;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black !important; 
    border-collapse: collapse; 
    text-align: center;
    padding: 8px;
}
th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black !important;
    border-right: 1px solid black !important; 
    border-left: 1px solid black !important;   
}
th {
    color: white;
    font-weight: bold;
}
thead tr:first-child th {
    background-color: #d9d9d9; 
    font-size: 18px;
}
tfoot {
    position: sticky;
    bottom: 0;
    background-color: white;
    font-weight: bold;
}
#total-row {
    background-color: #007bff !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
    position: sticky;
    bottom: 0;
}